.blogCard {
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 1px 0px 10px 0px rgb(73, 73, 73);
    margin-bottom: 2rem;

    img {
        text-align: center;
        background-color: lightgray;
        margin: auto;
        margin: 0;
        object-fit: cover;

    }
}



.blogDescription {
    background-color: white;
    margin-top: -.25rem;
    padding: 1rem 1rem;

    .description {
        padding: 1rem 0;
    }
}



.tagSpace {
    display: flex;
    gap: 1rem;
}

.js {
    background-color: yellow;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    font-weight: bolder;

}

.css {
    background-color: blue;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: white;
    font-weight: bolder;

}

.html {
    background-color: red;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-weight: bolder;

}

.php {
    background-color: blueviolet;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: white;
    font-weight: bolder;

}